body, html{
	height: 100%;
}
#wrap{
	min-height: 100%;
	max-height:120%;
}
#main{
	padding-bottom: 12.5em;
}
#footer{
	position: relative;
	clear: both;
	margin-top: -12.5em;
	height: 12.5em;
	padding-top: 1.25px;
}
.well{
	margin-bottom: 0px;
}
.center{
	text-align: center;
}

.box{
	border: 5px solid white;
}
#circle{
	border-radius:100%;
	height:26em;
	width:26em;
	margin: auto;
	margin-bottom:25px;
	border: solid 5px #ddd;
	padding: 10em 3em;
}

.btn{
	margin-top: 20px;
	padding: 5px 20px;
}
.pre .btn-stuff{
	background: white !important;
	color: black;
	transition: background linear 500ms;
	-webkit-transition: background linear 500ms; /* Safari */
}
.pre .btn-stuff:hover{
	background: #ddd !important;
}
.timer-box{
	height: 6em;
	width: 20em;
	margin: 0px auto;
}
#timeChoice, #stopChoice{
	width: 8em;
	margin-top: 3em;
}
.footer{
	position: absolute;
	margin-top: 100%;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

#mybox{
	position: absolute;
	height: 79%;
	width: 200px;
	margin-top: -30px;
	right: 0px;
	background-color: #1c1e22;
	padding: 10px;
}
#error{
	display:none;
}
.hide{
	display: none;
}